Repository mauricew/ruby-twitch-api: changes, and which Cirrus tasks are due for each by the changed paths.
All: rubocop, rspec

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

# remark_task:
#   container:
#     image: node
#   node_modules_cache:
#     folder: node_modules
#     fingerprint_script:
#       - echo $CIRRUS_OS
#       - node -v
#       - cat package.json
#   install_script: npm install
#
#   lint_script: npm run remark
#
#   only_if: ($CIRRUS_BRANCH == 'master') ||
#     changesInclude(
#       '.cirrus.yml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
#     )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache

  lint_script: bundle exec rubocop --format=json --out=rubocop.json

  always:
    rubocop_artifacts:
      path: rubocop.json
      type: text/json
      format: rubocop

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    # - remark
    - rubocop

  container:
    matrix:
      image: ruby:2.4
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache

  # environment:
  #   CODECOV_TOKEN: ENCRYPTED[...]

  test_script: bundle exec rspec --format=json --out=rspec.json

  always:
    rspec_artifacts:
      path: rspec.json
      type: text/json
      format: rspec

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Update VCR to new major version 6
  twitch-api.gemspec
Due: rubocop, rspec

Add link to LICENSE for its badge in README
  README.md
Due: none

Add `remark` lint (for Markdown) CI task
  .cirrus.yaml
  .gitignore
  .remarkrc.yaml
  README.md
  package.json
Due: rubocop, rspec

Improve code (style, variables names, duplication)
  lib/twitch/api_error.rb
  lib/twitch/client.rb
  lib/twitch/clip.rb
  lib/twitch/response.rb
  lib/twitch/stream.rb
  lib/twitch/stream_marker.rb
  lib/twitch/stream_metadata.rb
  lib/twitch/user.rb
  spec/spec_helper.rb
  spec/twitch_spec.rb
Due: rubocop, rspec

Fix small typos in documentation
  README.md
  lib/twitch/stream_metadata.rb
  lib/twitch/user.rb
  lib/twitch/video.rb
  spec/twitch/client_spec.rb
Due: rubocop, rspec

Drop Ruby 2.4 support, SimpleCov requires 2.5
  .cirrus.yaml
  .rubocop.yml
  lib/twitch/response.rb
  twitch-api.gemspec
Due: rubocop, rspec

Add SimpleCov and Codecov
  .cirrus.yaml
  spec/spec_helper.rb
  twitch-api.gemspec
Due: rubocop, rspec

Make readable the tag_ids too
  lib/twitch/stream.rb
Due: rubocop, rspec

Small improvements for README formatting
  README.md
Due: none

Rename `ApiError` to `APIError`
  README.md
  lib/twitch/api_error.rb
  lib/twitch/client.rb
Due: rubocop, rspec

Fix `.cirrus.yaml` file name after file rename
  .cirrus.yaml
Due: none

Replace Travis CI badge with Cirrus CI in README
  README.md
Due: none

Add `rubocop-performance` and `rubocop-rspec`
  twitch-api.gemspec
Due: rubocop, rspec

Update `rubocop-rspec` to compatible with RuboCop 1.0 version
  twitch-api.gemspec
Due: rubocop, rspec

Remove patch-version lock for stable RuboCop
  twitch-api.gemspec
Due: rubocop, rspec

Remove patch-version lock for stable `rubocop-performance`
  twitch-api.gemspec
Due: rubocop, rspec

Update authentication
  .rubocop.yml
  README.md
  lib/twitch/client.rb
  lib/twitch/client/games.rb
  lib/twitch/client/streams.rb
  lib/twitch/client/users.rb
  lib/twitch/response.rb
  spec/cassettes/Twitch_Client/_get_clips/will_return_information_about_a_clip.yml
  spec/cassettes/Twitch_Client/_get_games/can_retrieve_multiple_games_by_name.yml
  spec/cassettes/Twitch_Client/_get_streams/can_retrieve_a_single_live_stream_by_username.yml
  spec/cassettes/Twitch_Client/_get_streams/will_return_the_20_most_concurrently_watched_streams_by_default.yml
  spec/cassettes/Twitch_Client/_get_top_games/can_return_the_top_games_by_current_viewership.yml
  spec/cassettes/Twitch_Client/_get_users/can_retrieve_a_user_by_id.yml
  spec/cassettes/Twitch_Client/_get_videos/can_retrieve_videos_for_a_user.yml
  spec/fixtures/cassettes/get_clips_OEHHL.yml
  spec/fixtures/cassettes/get_games_hots_smo.yml
  spec/fixtures/cassettes/get_streams_default.yml
  spec/fixtures/cassettes/get_streams_disguisedtoasths.yml
  spec/fixtures/cassettes/get_top_games.yml
  spec/fixtures/cassettes/get_users_day9tv.yml
  spec/fixtures/cassettes/get_videos_user_vgboootcamp.yml
  spec/spec_helper.rb
  spec/twitch/client_spec.rb
  twitch-api.gemspec
Due: rubocop, rspec

Add specs for authentication
  README.md
  lib/twitch/api_error.rb
  lib/twitch/client.rb
  spec/cassettes/Twitch_Client/_get_bits_leaderboard/with_access_token_/when_access_token_is_actual/1_1_1_1_1.yml
  spec/cassettes/Twitch_Client/_get_bits_leaderboard/with_access_token_/when_access_token_is_outdated/with_refresh_token_/1_1_1_2_1_1.yml
  spec/cassettes/Twitch_Client/_get_bits_leaderboard/with_access_token_/when_access_token_is_outdated/without_refresh_token_/1_1_1_2_2_1.yml
  spec/cassettes/Twitch_Client/_get_bits_leaderboard/without_tokens/1_1_2_1.yml
  spec/cassettes/Twitch_Client/_get_clips/will_return_information_about_a_clip.yml
  spec/cassettes/Twitch_Client/_get_streams/can_retrieve_a_single_live_stream_by_username.yml
  spec/cassettes/Twitch_Client/_get_streams/will_return_the_20_most_concurrently_watched_streams_by_default.yml
  spec/cassettes/Twitch_Client/_get_top_games/can_return_the_top_games_by_current_viewership.yml
  spec/cassettes/Twitch_Client/_get_users/can_retrieve_a_user_by_id.yml
  spec/cassettes/Twitch_Client/_get_videos/can_retrieve_videos_for_a_user.yml
  spec/spec_helper.rb
  spec/twitch/client_spec.rb
Due: rubocop, rspec

Don't try to refresh applicaton tokens
  lib/twitch/client.rb
  spec/cassettes/Twitch_Client/_get_bits_leaderboard/when_token_type_is_application_/without_tokens/1_1_2_1_1.yml
  spec/cassettes/Twitch_Client/_get_bits_leaderboard/when_token_type_is_user_/with_access_token_/when_access_token_is_actual/1_1_1_1_1_1.yml
  spec/cassettes/Twitch_Client/_get_bits_leaderboard/when_token_type_is_user_/with_access_token_/when_access_token_is_outdated/with_refresh_token_/1_1_1_1_2_1_1.yml
  spec/cassettes/Twitch_Client/_get_bits_leaderboard/when_token_type_is_user_/with_access_token_/when_access_token_is_outdated/without_refresh_token_/1_1_1_1_2_2_1.yml
  spec/cassettes/Twitch_Client/_get_bits_leaderboard/when_token_type_is_user_/without_tokens/1_1_1_2_1.yml
  spec/twitch/client_spec.rb
Due: rubocop, rspec

Channel search API
  lib/twitch/client.rb
Due: rubocop, rspec

Fix Codecov
  .cirrus.yaml
Due: none

Update `twitch_oauth2` to a new version with error instead of `stdout`
  README.md
  spec/twitch/client_spec.rb
  twitch-api.gemspec
Due: rubocop, rspec

Fix an issue with duplicate keys in Cirrus CI config
  .cirrus.yaml
Due: none

Improve filename of `Twitch::VERSION` spec
  spec/twitch/version_spec.rb
Due: rubocop, rspec

Remove unused `TOKENS_CONFLICT_WARNING` constant
  lib/twitch/client.rb
Due: rubocop, rspec

Allow Ruby 3 in gem specs
  twitch-api.gemspec
Due: rubocop, rspec

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: none

Enable RuboCop plugins
  .rubocop.yml
  spec/cassettes/Twitch_Client/_get_clips/1_2_1.yml
  spec/cassettes/Twitch_Client/_get_clips/_broadcaster_id/1_2_2_1.yml
  spec/cassettes/Twitch_Client/_get_games/data_length/1_5_1_1.yml
  spec/cassettes/Twitch_Client/_get_streams/can_retrieve_a_single_live_stream_by_username.yml
  spec/cassettes/Twitch_Client/_get_streams/will_return_the_20_most_concurrently_watched_streams_by_default.yml
  spec/cassettes/Twitch_Client/_get_streams/with_empty_kwargs/data_length/1_3_1_1_1.yml
  spec/cassettes/Twitch_Client/_get_streams/with_username/1_3_2_1.yml
  spec/cassettes/Twitch_Client/_get_streams/with_username/viewer_count/1_3_2_2_1.yml
  spec/cassettes/Twitch_Client/_get_top_games/can_return_the_top_games_by_current_viewership.yml
  spec/cassettes/Twitch_Client/_get_top_games/data_length/1_6_1_1.yml
  spec/cassettes/Twitch_Client/_get_users/1_4_1.yml
  spec/cassettes/Twitch_Client/_get_users/login/1_4_2_1.yml
  spec/cassettes/Twitch_Client/_get_videos/data/1_7_1_1.yml
  spec/cassettes/Twitch_Client/_get_videos/pagination_cursor/1_7_2_1.yml
  spec/twitch/client_spec.rb
Due: rubocop, rspec

Add `rubocop-rake`
  .rubocop.yml
  twitch-api.gemspec
Due: rubocop, rspec

Merge inherited `Include` and `Exclude` in RuboCop config
  .rubocop.yml
Due: rubocop

Update `remark` to new major version
  .remarkrc.yaml
  package.json
Due: none
