Repository mauricew/ruby-twitch-api: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

env:
  ## To suppress flood of warnings:
  ## https://github.com/cirruslabs/cirrus-ci-docs/issues/814
  ## https://github.com/rubygems/rubygems/issues/4466#issuecomment-818688569
  ## Global for:
  ## 1. different tasks (rubocop, test, etc.);
  ## 2. avoiding overriding `env` in specific cases like macOS.
  TMPDIR: $CIRRUS_WORKING_DIR

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install

  lint_script: npm run remark

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache

  lint_script: bundle exec rubocop --format=json --out=rubocop.json

  always:
    rubocop_artifacts:
      path: rubocop.json
      type: text/json
      format: rubocop

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop

  container:
    matrix:
      - image: ruby:2.7
      - image: ruby:3.0
      - image: ruby:3.1
      - image: ruby:3.2

  <<: *bundle_cache

  test_script: bundle exec rspec --format=json --out=rspec.json

  codecov_uploader_cache:
    folder: codecov
    fingerprint_script:
      - curl --no-progress-meter https://uploader.codecov.io/latest/linux/codecov.SHA256SUM
    populate_script:
      - mkdir -p codecov
      - curl https://uploader.codecov.io/latest/linux/codecov -o codecov/uploader
      - chmod +x codecov/uploader

  codecov_script: codecov/uploader

  always:
    rspec_artifacts:
      path: rspec.json
      type: text/json
      format: rspec

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Move chat to non-considered libs
  README.md
Due: remark

Add myself as a gem maintainer
  twitch-api.gemspec
Due: rubocop, rspec

Update version to 1.0.0
  lib/twitch/version.rb
Due: rubocop, rspec

Make stream_id accessible in Video
  lib/twitch/video.rb
Due: rubocop, rspec

Resolve new RuboCop offense about `super`
  lib/twitch/api_error.rb
Due: rubocop, rspec

Remove artifacts for Cirrus CI RuboCop and RSpec
  .cirrus.yaml
Due: remark, rubocop, rspec

Lock `rubocop-performance` version more strict
  Gemfile
Due: rubocop, rspec

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  twitch-api.gemspec
Due: remark, rubocop, rspec

Resolve new RuboCop Performance offenses
  lib/twitch/automod_message_status.rb
  lib/twitch/category.rb
  lib/twitch/channel.rb
  lib/twitch/cheermote.rb
  lib/twitch/cheermote_tier.rb
  lib/twitch/cheermote_tier_image.rb
  lib/twitch/cheermote_tier_images.rb
  lib/twitch/clip.rb
  lib/twitch/custom_reward.rb
  lib/twitch/editor.rb
  lib/twitch/extension.rb
  lib/twitch/extensions_by_types.rb
  lib/twitch/moderation_event.rb
  lib/twitch/moderator.rb
  lib/twitch/redemption.rb
  lib/twitch/stream.rb
  lib/twitch/subscription.rb
  lib/twitch/user.rb
  lib/twitch/user_ban.rb
  lib/twitch/video.rb
Due: rubocop, rspec

Resolve new RuboCop offense
  lib/twitch/api_error.rb
Due: rubocop, rspec
